
@{
    ViewBag.Title = "Index";
}

<div id="slider">
    @RenderPage("~/Views/Shared/_Slider.cshtml")
</div>
<div id="textos">
    @RenderPage("~/Views/Shared/_Textos.cshtml")
</div>

<div id="web">
    @RenderPage("~/Views/Shared/_Web.cshtml")
</div>
<div id="info">
    @RenderPage("~/Views/Shared/_Infordir.cshtml")
</div>
<div>
    @RenderPage("~/Views/Shared/_Redes.cshtml")
</div>
<div id="copy">
    @RenderPage("~/Views/Shared/_Copy.cshtml")
</div>
